@using InertiaAdapter
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Inertia</title>
    <link href="~/css/nprogress.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @*<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>*@

    <script src="~/dist/js/app.js" asp-append-version="true"></script>
</head>

<body>

    @Inertia.Html(Model)

</body>

</html>