@using InertiaAdapter
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Inertia</title>
    <link href="~/css/nprogress.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/dist/js/home/index.js"></script>
</head>

<body>

    @Inertia.Html(Model)

</body>

</html>